<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style>
        body {
            
            background: linear-gradient(to bottom, #003366 0%, #009999 100%);
            /*background-image:url('./images/bg2.jpg');
            background-repeat:no-repeat;
            font-family: georgia,garamond,serif;
            font-size: 15px;*/
        }
    </style>
</head>

<body >
 <div class="login">
	<h1 style="text-align: center;">Predict Player price</h1>
     <!--['Mat_t20','Ave_t20', 'SR_t20','Runs_t20', '100s_t20', '50s_t20','year']-->
     <!-- Main Input For Receiving Query to our ML -->
     <br>
     <br>
     <br>
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Mat_t20" placeholder="T20 matches" required="required" />
        <input type="text" name="Ave_t20" placeholder="Ave_t20" required="required" />
        <input type="text" name="SR_t20" placeholder="SR_t20" required="required" />
        <input type="text" name="Runs_t20" placeholder="Runs_t20" required="required" />
        <input type="text" name="100s_t20" placeholder="100s_t20" required="required" />
        <input type="text" name="50s_t20" placeholder="50s_t20" required="required" />
        <input type="text" name="year" placeholder="year" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <h1 style="text-align: center;">{{ prediction_text }}</h1>

 </div>


</body>
</html>